.idea/
logs/
tmp/
etc/
certs/
.project
.pydevproject
.vimrc
.viminfo
.bashrc
.bash_profile
.bash_history
.mysql_history
.profile
.ssh
*.sucatalog
*.pyc
*.log
*.adb
*.nja
*.swp
*.swo
.DS_Store
last_uptime
